div.slide
	div.sl-group
		div.sl-img-container
			img(src="/profPhoto/{{opinions[3].owner}}")
			div {{opinions[3].name}}
		div.sl-text
			| "{{opinions[3].text}}"

	div.sl-group
		div.sl-img-container
			img(src="/profPhoto/{{opinions[1].owner}}")
			div {{opinions[1].name}}
		div.sl-text
			| "{{opinions[1].text}}"
	div.sl-group
		div.sl-img-container
			img(src="/profPhoto/{{opinions[2].owner}}")
			div {{opinions[2].name}}
		div.sl-text
			| "{{opinions[2].text}}"
	div.sl-group
		div.sl-img-container
			img(src="/profPhoto/{{opinions[0].owner}}")
			div {{opinions[0].name}}
		div.sl-text
			| "{{opinions[0].text}}"