/* CSS reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
    margin:0;
    padding:0;
}
html,body {
    margin:0;
    padding:0;
}
/* Extra options you might want to consider*/

table {
    border-collapse:collapse;
    border-spacing:0;
}
fieldset,img { 
    border:0;
}
input{
    border:1px solid #b0b0b0;
    padding:3px 5px 4px;
    color:#979797;
    width:190px;
}
address,caption,cite,code,dfn,th,var {
    font-style:normal;
    font-weight:normal;
}
ol,ul {
    list-style:none;
}
caption,th {
    text-align:left;
}
h1,h2,h3,h4,h5,h6 {
    font-size:100%;
    font-weight:normal;
}
q:before,q:after {
    content:'';
}
abbr,acronym { 
    border:0;
}

body{
	font-family: "Times New Roman", Times, serif;
	background-color: #f0f0f0;
	color: #484848;
}
#nav{
	display: block;
	height: 60px;
	width: 100%;
	background: #96f8e3;
	-webkit-box-shadow: 0px 3px 5px 0px rgba(229,229,229,1);
-moz-box-shadow: 0px 3px 5px 0px rgba(229,229,229,1);
box-shadow: 0px 3px 5px 0px rgba(229,229,229,1);
}
#home-wrapper{
	display: block;
	margin: 0 auto;
}
#left-window, #right-window, #mid-window{
	display: inline-block;
	margin-top: 40px;
	width: 300px;
	border: 1px solid #e5e5e5;
	border-radius: 20px;
	-webkit-box-shadow: 0px 0px 5px 3px rgba(229,229,229,1);
-moz-box-shadow: 0px 0px 5px 3px rgba(229,229,229,1);
box-shadow: 0px 0px 5px 3px rgba(229,229,229,1);
}
#left-window{
	background: #96f8e3;
	margin-left: 10%;
	height: auto;
	padding: 15px;
}
#mid-window{
	width: 400px;
	padding: 15px;
}
.title-left{
	font-size: 1.2em;
	font-weight:700;
	border-bottom: 1px solid #484848;
}
.text-left{
	margin-top: 10px;
}
#mid-window{
	height: 300px;
	margin-left: 10%;
	vertical-align: top;
	background: #fff;
}
#site-name, #logo, #moto{
	display: inline-block;
	width: 150px;
	margin-left: 10%;
	height: 60px;
	line-height: 60px;
}
#moto{
	width: 400px;
	font-weight: 800;
	font-size: 1.5em;
	text-align: center;
}
#site-name a{
	display: block;
	font-size: 1.5em;
	text-align: center;
	width: 100%;
	color: #484848;
	text-decoration: none;
}
.title-login{
	display: block;
	text-align: center;
	font-size: 1.3em;
	font-weight: 700;
	border-bottom: 1px solid #484848;
}
.form-login label, .form-login > div > input, .login-btn{
	display: block;
	margin:0 10%;
}
.form-login label{
	margin-top: 25px;
	text-align: center;
	font-size: 1.2em;
}
.input-name, .input-pass{
	width: 80%;
	border: 1px solid #e5e5e5;
}
.input-name:focus, .input-pass:focus{
	border-color: #35cc83;
}
.input-name, .input-pass{
	height: 30px;
	line-height: 30px;
	color: #35cc83;
	border: 1px solid #96f8e3;
	outline: none;
	font-size: 1.2em;
	border-radius: 10px;
	padding-left:15px;
	padding-right: 15px;
}
.login-btn{
	margin-left: 100px;
	margin-top: 25px;
	width: 200px;
	height: 35px;
	font-size: 1.2em;
	letter-spacing: 3px;
	background: #96f8e3;
	outline: none;
	border: none;
	border-radius: 10px;
}
.login-btn:hover{
	cursor: pointer;
	background: #35cc83;
}