doctype
html
    head
        title Rod BG
        link(rel="stylesheet" href="/css/site.css")
        link(rel="stylesheet" href="/css/front-page.css")
    body(ng-app="app")
        block main-content
        include scripts
        include currentUser